body {

    margin: 0;
    padding: 0;

}

nav {

    
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 10px;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: ;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    
}
.box{
    background: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: white;
}